:root {
    --square-size: 3em;
    --board-size: var(--square-size) * 8;
}
#board-container {
    width: var(--board-size);
    height: var(--board-size);
    /* width: 10em;
    height: 10em; */
    display: grid;
    grid-template-columns: repeat(8, var(--square-size));
    grid-template-rows: repeat(8, var(--square-size));
}
#body-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    justify-content: center;
}
#scorecard-container {
    margin: 1em;
}
.dark {
    background: #b58863;
}
.light {
    background: #f0d9b5;
}
.square {
    width: var(--square-size);
    height: var(--square-size);
}
.header-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;

}
#icon-container {
    display: flex;
    flex-direction: column;
}
#white {
    margin-top: auto;
}
.icon{
    border-radius: 0.3em;
    margin-right: 1em;
    width: 2em;
    height: 2em;
}
#flip-icon {
    width: 1em;
    height: 1em;
    margin-left: 0.3em;
}
#flip-board :hover {
    cursor: not-allowed;
}